.resultPanel {
  margin-top: 40px;
}

.searchResultName {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
}

.countryCardsList {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style-type: none;
}
