.countryCard {
  margin: 20px;
  /* https://cssgradient.io/ */
  background: radial-gradient(
    circle,
    rgba(69, 162, 158, 1) 47%,
    rgba(102, 252, 241, 1) 95%
  );
  height: 400px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  color: #fff;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.countryName {
  text-align: center;
  padding-bottom: 20px;
}

.percentage {
  font-size: 3.5rem;
}

.flagImage {
  height: 150px;
  padding: 0px 10px;
}
