.countryCard {
  margin: 20px;
  background: linear-gradient(to top, #5ff1b4, #42f3db);
  height: 400px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.countryName {
  text-align: center;
  padding-bottom: 20px;
}

.percentage {
  font-size: 3.5rem;
}

.flagImage {
  height: 150px;
  padding: 0px 10px;
}
